<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Card</title>
</head>
<body>
<main class="main">
  <div class="banners-wrapper-col-4">
    <!--  Card  -->
    <div class="card">
      <div class="card-top">
        <picture class="card-top__picture">
          <source srcset="../images/pictures/card1.webp" type="image/webp">
          <source srcset="../images/pictures/card1.jpg" type="image/jpeg">
          <img class="card-top__picture-img" src="../images/pictures/card1.jpg" alt="Card">
        </picture>
        <a class="card-top__link" href="/" title="Сарафан Voyage: Сote d’Asur">
          <span class="card-top__link-hidden-text">Сарафан Voyage: Сote d’Asur</span>
        </a>
        <ul class="card-colors">
          <li class="card-colors_item" style="background-color: #F3C5B7"></li>
          <li class="card-colors_item" style="background-color: #ACCAE1"></li>
          <li class="card-colors_item" style="background-color: #D4A676"></li>
          <li class="card-colors_item" style="background-color: #F9F4EC"></li>
          <li class="card-colors_item" style="background-color: #55bc88"></li>
        </ul>
      </div>
      <div class="card-bottom">
        <h4 class="card-title">
          Сарафан Voyage: Сote d’Asur
        </h4>
        <p class="card-descriptor">
          100% шелк с хлопком
        </p>
        <div class="card-price">
          <span class="card-price__value">68.000 ₽</span>
          <span class="card-price__value_old">70.000 ₽</span>
        </div>
      </div>
    </div>
    <!--  Card  -->

    <!--  Card  -->
    <div class="card">
      <div class="card-top">
        <picture class="card-top__picture">
          <source srcset="../images/pictures/card1.webp" type="image/webp">
          <source srcset="../images/pictures/card1.jpg" type="image/jpeg">
          <img class="card-top__picture-img" src="../images/pictures/card1.jpg" alt="Card">
        </picture>
        <a class="card-top__link" href="/" title="Сарафан Voyage: Сote d’Asur">
          <span class="card-top__link-hidden-text">Сарафан Voyage: Сote d’Asur</span>
        </a>
        <ul class="card-colors">
          <li class="card-colors_item" style="background-color: #F3C5B7"></li>
          <li class="card-colors_item" style="background-color: #ACCAE1"></li>
          <li class="card-colors_item" style="background-color: #D4A676"></li>
        </ul>
      </div>
      <div class="card-bottom">
        <h4 class="card-title">
          Сарафан Voyage: Сote d’Asur Сарафан Voyage: Сote d’Asur Сарафан Voyage: Сote d’Asur
        </h4>
        <p class="card-descriptor">
          100% шелк с хлопком 100% шелк с хлопком 100% шелк с хлопком 100% шелк с хлопком 100% шелк с хлопком 100% шелк с хлопком
        </p>
        <div class="card-price">
          <span class="card-price__value">68.000 ₽</span>
          <span class="card-price__value_old">70.000 ₽</span>
        </div>
      </div>
    </div>
    <!--  Card  -->
  </div>
</main>


</body>
</html>