<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text banner</title>
</head>
<body>
<section class="banners-wrapper-col-2">
  <div class="banner">
    <picture class="banner-bg-picture">
      <source srcset="images/pictures/banner6.webp" type="image/webp">
      <source srcset="images/pictures/banner6.jpg" type="image/jpeg">
      <img src="images/pictures/banner2.jpg" alt="Banner">
    </picture>
  </div>
  <article class="banner banner-with-text banner-with-text_bg-color-light-blue">
    <div class="banner-with-text-wrapper">
      <h4 class="banner-with-text-title">
        Наслаждаться<br> не расставаясь
      </h4>
      <p class="banner-with-text-descriptor">
        Розовое макси-платье свободного кроя из мягкого,
        дышащего 100% шелка с сертификатом STANDARD
        100 от OEKO TEX®. Вдохновленное винтажными
        ночными сорочками, оно имеет эластичный вырез
        и манжеты, украшенные женственными оборками,
        а также деликатный цветочный декор в центре.
        Разработано для того, чтобы чувствовать себя
        элегантно, комфортно и нежно как в особые
        моменты, так и каждый день.
      </p>
      <button type="button" class="button banner-with-text-button">
            <span class="button-text">
              Перейти...
            </span>
      </button>
    </div>
  </article>
</section>
</body>
</html>