.banner {
    position: relative;
    padding: var(--page-banner-padding);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.banner picture {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.banner picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner-descriptor {
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--color-text-light-1);
    position: absolute;
    top: var(--page-banner-padding);
}
.banner-title {
    line-height: 1.1;
    font-size: 75px;
    letter-spacing: -0.05em;
    color: var(--color-text-light-1);
    padding-right: 0.6em;
    position: absolute;
    right: var(--page-banner-padding);
    left: var(--page-banner-padding);
    bottom: calc(var(--page-banner-padding) - 12px);
}
.banner-title:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='36' viewBox='0 0 21 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.4402 16.7489C20.6159 16.9004 20.7568 17.0883 20.8535 17.2996C20.9501 17.511 21.0002 17.7407 21.0002 17.9732C21.0002 18.2058 20.9501 18.4355 20.8535 18.6469C20.7568 18.8582 20.6159 19.046 20.4402 19.1976L0.813487 35.893C0.813487 35.9643 0.74238 36 0.595713 36C0.505089 35.9926 0.417512 35.9636 0.340234 35.9156C0.262956 35.8675 0.198192 35.8016 0.151269 35.7235C0.0823757 35.6628 0.0338625 35.5822 0.0123799 35.4928C-0.00910266 35.4033 -0.00251244 35.3094 0.0312601 35.2239L13.5602 18.087L0.0357089 0.722595C-0.0354022 0.575401 0.0357111 0.388064 0.315711 0.169503C0.595711 -0.0490569 0.760153 -0.0535173 0.813487 0.169503L20.4402 16.7489Z' fill='%23F9F4EC'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0.2em;
    right: 0;
    width: 0.6em;
    height: 0.6em;
}
.banner-title_vertical-center {
    bottom: auto;
    text-align: center;
}

.banners-wrapper-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    height: 900px;
}
.banners-wrapper-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    height: 900px;
}
div[class*="banners-wrapper-col"] + div[class*="banners-wrapper-col"] {
    margin-top: 5px;
}