.button {
    border: 1px solid var(--color-text-dark-3);
    background-color: transparent;
    height: 58px;
    width: 100%;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
}
.button-text {
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.button_gray {
    border: 1px solid var(--color-text-dark-3);
    background-color: var(--color-text-dark-3);
    color: var(--color-text-light-1);
}
.button_gray:hover {
    background-color: var(--color-text-gray-1);
}