.card {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    background-color: var(--color-main-bg);
}
.card-top {
    position: relative;
    aspect-ratio: 1 / 1.4;
}
.card-top__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card-top__link-hidden-text {
    display: inline-block;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.card-top__picture {
    width: 100%;
    height: 100%;
}
.card-top__picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-bottom {
    padding: 22px;
}
.card-title {
    font-size: clamp(12px, 2.3vw, 14px);
    color: var(--color-text-dark-3);
    margin-bottom: 10px;
}
.card-descriptor {
    font-style: italic;
    font-size: clamp(10px, 2vw, 12px);
    color: var(--color-text-gray-1);
    margin-bottom: 10px;
}
.card-price {
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-price__value {
    font-size: clamp(14px, 2vw, 18px);
    letter-spacing: -0.03em;
    color: var(--color-text-dark-3);
}
.card-price__value_old {
    position: relative;
    font-size: clamp(12px, 2vw, 13px);
    color: var(--color-text-gray-1);
}
.card-price__value_old:before {
    content: "";
    background-color: var(--color-text-gray-1);
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.card-colors {
    position: absolute;
    top: 22px;
    right: 22px;
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 0;
}
.card-colors_item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 0.7px solid rgba(0, 0, 0, 0.4);
}
