.header {
    display: grid;
    grid-template-columns: 1fr var(--header-logo-width) 1fr;
    align-items: center;
    height: var(--header-height);
    padding-inline: var(--header-paddin-inline);
    column-gap: var(--header-column-gap);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    transition: background-color .3s ease;
    color: var(--color-text-light-1);
    border-bottom: var(--header-border-width) solid transparent;
}
.header svg *[stroke] {
    stroke: var(--color-text-light-1);
}
.header:hover svg *[stroke],
.header_color-active svg *[stroke] {
    stroke: var(--color-text-dark-2);
}
.header:hover,
.header_color-active {
    background-color: var(--color-menu-bg);
    color: var(--color-text-dark-2);
    border-bottom-color: var(--color-text-dark-3);
}
.header-burger-button {
    display: none;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}
.header__logo-wrapper {
    display: flex;
    z-index: 1;
    grid-area: 1 / 2 / 1 / 2;
}
.header__logo {
    width: 100%;
}
.header-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr var(--header-logo-width) 1fr;
    align-items: center;
    height: var(--header-height);
    padding-inline: var(--header-paddin-inline);
    column-gap: var(--header-column-gap);
}
.header-menu__mobile-button {
    display: none;
    border: none;
    font-size: 13px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: transparent;
    min-height: 45px;
    padding: 0;
    width: 100%;
    text-align: start;
    position: relative;
}
.header-menu__mobile-button:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-text-dark-2);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: block;
}
.header-menu__list {
    display: flex;
    justify-content: flex-start;
}
.header-menu__list_end {
    grid-area: 1 / 3 / 1 / 3;
    text-align: end;
}
.header-menu__item {
    flex: 1;
}
.header-menu__item_user {
    flex: initial;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-left: clamp(10px, 2vw, 38px);
}
.header-menu__item_user_mobile {
    display: none;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
}
.header-menu__item_user-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header-menu__item_user-link-count {
    font-size: 14px;
    line-height: 1;
}
.header-menu__item-drop-menu-wrapper {
    display: inline-block;
}
.header-menu__item-drop-menu-wrapper:hover .header-menu__item-name {
    text-decoration: underline;
}
.header-menu__item-name {
    font-size: clamp(16px, 1.25vw, 19px);
    height: var(--header-height);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}



