.menu-drop {
    position: absolute;
    overflow: auto;
    width: 100%;
    background-color: var(--color-menu-bg);
    color: var(--color-text-dark-2);
    opacity: 0;
    top: 100%;
    left: 0;
    margin: 0;
    height: auto;
    max-height: calc(100vh - var(--header-height));
    visibility: hidden;
    pointer-events: none;
    transition: all .3s cubic-bezier(.16, .68, .43, .99);
    /*transform: translateY(-10px);*/

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.menu-drop:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-text-dark-2);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: block;
}
.header__menu-item-wrapper:hover .menu-drop {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    /*transform: translateY(0);*/
}
.menu-drop-lists-picture {
    display: flex;
    padding: 0 60px 60px;
    position: relative;
}
.menu-drop-lists-picture:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-text-dark-2);
    position: absolute;
    top: 47px;
    right: 0;
    left: 0;
}
.menu-drop__section {
    width: 20%;
}
.menu-drop__title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    height: 47px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.menu-drop__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-right: 16px;
}
.menu-drop__link {
    font-size: 20px;
    letter-spacing: 0.05em;
}
.menu-drop__link_underline {
    text-decoration: underline;
}
.menu-drop__picture-section {
    width: 30%;
    margin-left: auto;
    padding-top: 100px;
}
.menu-drop__link-picture {
    border: 1px solid var(--color-text-dark-2);
    border-radius: 256px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    aspect-ratio: 1 / 1.3;
}
.menu-drop__link-picture-place {

}
.menu-drop__link-picture picture {
    display: block;
    width: 100%;
    height: 100%;
}
.menu-drop__link-picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.menu-drop__link-picture-title {
    position: absolute;
    top: 10%;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--color-text-light-1);
}
.menu-drop__link-picture-name {
    position: absolute;
    bottom: 10%;
    font-size: 29px;
    letter-spacing: -0.03em;
    color: var(--color-text-light-1);
}