:root {
    --fancybox-content-bg: var(--color-modal-bg);
    --fancybox-content-color: var(--color-dark-3);
}
.modal {
    display: none;
    max-width: var(--modal-width);
}
.modal_padding {
    padding: var(--modal-padding);
}
.modal-title {
    font-size: clamp(23px, calc(28/var(--clamp-width)*100vw), 28px);
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-dark-3);
    margin-bottom: clamp(18px, calc(26/var(--clamp-width)*100vw), 26px);
}
.modal-sub-title {
    font-size: clamp(14px, calc(16/var(--clamp-width)*100vw), 16px);
    line-height: 1.2;
    color: var(--color-dark-3);
    margin-bottom: clamp(26px, calc(30/var(--clamp-width)*100vw), 30px);
}
.modal>.f-button.is-close-btn {
    top: 15px;
    right: 15px;
    opacity: 1;
    --f-button-width: 18px;
    --f-button-height: 18px;
    --f-button-border-radius: 50%;
    --f-button-color: var(--color-dark-2);
    --f-button-hover-color: var(--color-gray-1);
    --f-button-svg-width: 10px;
    --f-button-svg-height: 10px;
    border: 1px solid var(--color-dark-2);
}
.is-compact .modal>.f-button.is-close-btn {
    top: 15px;
    right: 15px;
    --f-button-color: var(--color-dark-2);
    --f-button-hover-color: var(--color-gray-1);
    --f-button-svg-width: 10px;
    --f-button-svg-height: 10px;
    --f-button-bg: transparent;
    --f-button-active-bg: transparent;
    --f-button-hover-bg: transparent;
}


/*fancybox*/
.fancybox__container {
    --fancybox-bg: var(--color-modal-backdrop);
}
/*fancybox*/