/*Desktop*/
@media (max-width: 1280px) {
    .page-container {
        width: 100%;
        padding-inline: 16px;
    }

    .inspired-by {
        display: none;
    }
    /*:root {*/
    /*    --header-height: 50px;*/
    /*}*/

    /*Header*/
    .menu-drop__list-link {
        font-size: clamp(18px, 1.6vw, 20px);
    }
    /*Header*/

    /*Banners*/
    .banner-title {
        font-size: clamp(48px, 5vw, 65px);
    }
    .banners-wrapper-col-3 .banner-title {
        font-size: clamp(29px, 3.5vw, 48px);
    }
    /*Banners*/
}

/*Tablet*/
@media (max-width: 1023px) {
    :root {
        --header-height: 50px;
        --header-paddin-inline: 20px;

        --menu-drop-lists-padding: 0;

        --page-banner-padding-block: 50px;
        --page-banner-padding-inline: 50px;

        --swiper-navigation-sides-offset: 10px;
    }

    /*Header*/
    .header-burger-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-menu__item_user_mobile {
        display: flex;
    }
    .header-menu__item_user {
        display: none;
    }
    .menu-drop__picture-section {
        display: none;
    }
    .header-menu-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: calc(100% + var(--header-border-width));
        right: 100%;
        width: 90%;
        height: calc(100vh - var(--header-height));
        overflow: auto;
        background-color: var(--color-menu-bg);
        color: var(--color-text-dark-2);
        transition: transform 0.3s ease;
    }
    .header-menu-wrapper.open {
        transform: translateX(100%);
    }
    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: static;
        height: auto;
    }
    .header-menu:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--color-text-dark-2);
        position: absolute;
        top: 44px;
        right: 0;
        left: 0;
        display: block;
    }

    .header-menu__mobile-header {
        display: flex;
    }
    .header-menu__list {
        flex-direction: column;
        width: 100%;
    }
    .header-menu__list_end {
        text-align: start;
    }
    .header-menu__item-drop-menu-wrapper {
        width: 100%;
    }
    .header-menu__item-drop-menu-wrapper .header-menu__item-name {
        display: none;
    }
    .header-menu__item-name {
        height: var(--header-height);
        text-transform: uppercase;
        color: var(--color-text-dark-3);
    }
    .header-menu-mobile-copy {
        display: flex;
    }


    /*menu-drop*/
    .menu-drop__section {
        width: 100%;
    }
    .menu-drop__list-title {
        display: none;
    }
    .mobile-drop-down-button {
        display: flex;
    }
    .menu-drop__list {
        gap: 6px;
        padding-right: 0;
    }
    .menu-drop__list-link {
        font-size: 14px;
    }
    .menu-drop {
        position: static;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        height: 100%;
        max-height: 100%;
    }
    .menu-drop:before,
    .menu-drop-lists-picture:before {
        display: none;
    }
    .menu-drop-lists-picture {
        flex-direction: column;
    }
    .mobile-drop-down-list {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: height 0.3s ease, opacity 0.3s ease;
    }
    .mobile-drop-down.show .mobile-drop-down-list {
        height: auto;
        opacity: 1;
    }
    /*menu-drop*/
    /*Header*/


    /*Banners*/
    .banners-wrapper-col-3 .banner-title {
        --page-banner-padding-block: 40px;
        --page-banner-padding-inline: 40px;
    }
    .banners-wrapper-col-3 .banner-descriptor {
        --page-banner-padding-block: 40px;
        --page-banner-padding-inline: 40px;
    }
    /*Banners*/

    /*Banner with links*/
    .banner-with-links-title {
        font-size: clamp(29px, 4vw, 48px);
    }
    .banner-links-list {
        border-top: none;
    }
    .banner-links-list-link {
        font-size: clamp(14px, 2.5vw, 24px);
    }
    /*Banner with links*/


    /*Text sections*/
    .text-section_main-page {
        padding: clamp(58px, 2vw, 90px) clamp(20px, 2vw, 60px);
    }
    .text-section-title_main-page {
        font-size: clamp(22px, 5vw, 38px);
        margin-bottom: clamp(58px, 2vw, 86px);
    }
    .text-section-descriptor_main-page {
        font-size: clamp(17px, 2.6vw, 20px);
        letter-spacing: normal;
    }
    /*Text sections*/


    /*Sections*/
    .section-title {
        font-size: clamp(17px, 2.6vw, 22px);
        padding: clamp(calc(28px - 0.2em), 4vw, calc(45px - 0.2em)) 0;
    }
    /*Sections*/

    /*Footer*/
    .footer-main__title {
        margin-bottom: 50px;
    }
    .footer-info-copy {
        font-size: 11px;
    }
    .footer-info-link {
        font-size: 11px;
    }
    .footer-main__section {
        width: calc(100% / 3);
    }
    .footer-main__section-form {
        width: 100%;
        justify-content: center;
        padding-top: 90px;
    }
    .banner-links-list {
        gap: 10px;
    }
    .banner-links-list-item {
        flex: 1 1 calc((100% / 2) - 10px);
        max-width: calc((100% / 2) - 10px);
    }
    /*Footer*/
}

/*Mobile*/
@media (max-width: 767px) {
    :root {
        --page-banner-padding-block: clamp(20px, 6vw, 50px);
        --page-banner-padding-inline: clamp(10px, 3vw, 50px);
        --footer-padding: 10px;
    }

    .main-page-top-banner {
        height: 84vh;
    }

    /*Buttons*/
    .button {
        height: 45px;
    }
    .button-text {
        font-size: 12px;
    }
    /*Buttons*/

    /*Banners*/
    .banners-wrapper-col-3 .banner-title {
        --page-banner-padding-block: clamp(20px, 6vw, 50px);
        --page-banner-padding-inline: clamp(10px, 3vw, 50px);
    }
    .banners-wrapper-col-3 .banner-descriptor {
        --page-banner-padding-block: clamp(20px, 6vw, 50px);
        --page-banner-padding-inline: clamp(10px, 3vw, 50px);
    }
    .banner-descriptor {
        font-size: clamp(10px, 2.7vw, 20px);
    }
    .banner-title {
        font-size: clamp(29px, 5vw, 48px);
    }
    .banners-wrapper-col-3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
    }
    .banners-wrapper-col-2 {
        gap: 2px;
    }
    .inspired-by-wrapper {
        max-width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    div[class*="banners-wrapper-col"] + div[class*="banners-wrapper-col"] {
        margin-top: 2px;
    }
    /*Banners*/


    /*Footer*/
    .footer {
        padding: 35px var(--footer-padding) 100px;
    }
    .footer-main__title {
        margin-bottom: 20px;
        font-size: 11px;
    }
    .footer-main__list {
        gap: 7px;
    }
    .footer-main__link {
        font-size: 11px;
    }
    /*Footer*/
}

/*Mobile S*/
@media (max-width: 480px) {
    :root {
        --header-paddin-inline: 10px;
    }

    /*Header*/
    .header-menu__item_user-link {
        gap: 4px;
    }
    /*Header*/

}