/*Desktop*/
@media (max-width: 1280px)  {
    .page-container {
        --page-container-width: 100%;
        padding-inline: 16px;
    }


    /*.inspired-by {*/
    /*    display: none;*/
    /*}*/
    /*:root {*/
    /*    --header-height: 50px;*/
    /*}*/

}

/*Tablet*/
@media (max-width: 1023px) {
    :root {
        --header-height: 50px;
        --header-paddin-inline: 20px;

        --menu-drop-lists-padding: 0;

        --page-banner-padding-block: 50px;
        --page-banner-padding-inline: 50px;

        --button-font-size: 12px;
        --button-height: 52px;

        --swiper-navigation-sides-offset: 10px;
    }

    /*Header*/
    .header-burger-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-menu__item_user_mobile {
        display: flex;
    }
    .header-menu__item_user {
        display: none;
    }
    .menu-drop__picture-section {
        display: none;
    }
    .header-menu-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: calc(100% + var(--header-border-width));
        right: 100%;
        width: 100%;
        height: calc(100vh - var(--header-height));
        overflow: auto;
        background-color: var(--color-menu-bg);
        color: var(--color-dark-2);
        transition: transform 0.3s ease;
    }
    .header-menu-wrapper.open {
        transform: translateX(100%);
    }
    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: static;
        height: auto;
    }
    .header-menu:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--color-dark-2);
        position: absolute;
        top: 44px;
        right: 0;
        left: 0;
        display: block;
    }

    .header-menu__mobile-header {
        display: flex;
    }
    .header-menu__list {
        flex-direction: column;
        width: 100%;
    }
    .header-menu__list_end {
        text-align: start;
    }
    .header-menu__item-drop-menu-wrapper {
        width: 100%;
    }
    .header-menu__item-drop-menu-wrapper .header-menu__item-name {
        display: none;
    }
    .header-menu__item-name {
        height: var(--header-height);
        text-transform: uppercase;
        color: var(--color-dark-3);
    }
    .header-menu-mobile-copy {
        display: flex;
    }


    /*menu-drop*/
    .menu-drop__section {
        width: 100%;
    }
    .menu-drop__list-title {
        display: none;
    }
    .mobile-drop-down-button {
        display: flex;
    }
    .menu-drop__list {
        gap: 6px;
        padding-right: 0;
    }
    .menu-drop {
        position: static;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        height: 100%;
        max-height: 100%;
    }
    .menu-drop:before,
    .menu-drop-lists-picture:before {
        display: none;
    }
    .menu-drop-lists-picture {
        flex-direction: column;
    }
    .mobile-drop-down-list {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: height 0.3s ease, opacity 0.3s ease;
    }
    .mobile-drop-down.show .mobile-drop-down-list {
        height: auto;
        opacity: 1;
    }
    /*menu-drop*/
    /*Header*/

    /*Section button*/
    .section-button-wrapper .button {
        --button-height: 48px;
        min-width: 246px;
    }
    /*Section button*/

    /*Club form modal*/
    .club-form-modal {
        position: relative;
        bottom: unset;
        right: unset;
        max-width: 370px;
    }
    /*Club form modal*/

    /*Banners*/
    .grid-col-3 .banner-title {
        --page-banner-padding-block: 40px;
        --page-banner-padding-inline: 40px;
    }
    .grid-col-3 .banner-descriptor {
        --page-banner-padding-block: 40px;
        --page-banner-padding-inline: 40px;
    }
    /*Banners*/

    /*Banner with links*/
    .banner-links-list {
        border-top: none;
        gap: 10px;
    }
    .banner-links-list-item {
        flex: 1 1 calc((100% / 2) - 10px);
        max-width: calc((100% / 2) - 10px);
    }
    /*Banner with links*/

    /*Inspired by*/
    .inspired-by-wrapper {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding-inline: 0;
    }
    .inspired-by-banner__info-descriptor {
        display: none;
    }
    .inspired-by-info__descriptor {
        width: 90%;
    }
    .inspired-by-banner {
        aspect-ratio: 1 / 1.5;
        max-width: 63%;
        margin: auto;
    }
    .inspired-by-info {
        border: none;
        padding-top: 0;
        padding-bottom: 0;
    }
    .inspired-by-info__picture {
        display: none;
    }
    .button_inspired-by-info {
        --button-height: 48px;
    }
    /*Inspired by*/

    /*Catalog toolbar*/
    .catalog-toolbar {
        --catalog-toolbar-height: 40px;
    }
    /*Catalog toolbar*/

    /*Footer*/
    .footer-main__section {
        width: calc(100% / 3);
    }
    .footer-main__section-form {
        width: 100%;
        justify-content: center;
        padding-top: 90px;
    }
    .footer-info {
        order: 1;
        align-items: end;
    }
    /*Footer*/
}

/*Mobile*/
@media (max-width: 767px) {
    :root {
        --page-banner-padding-block: clamp(20px, calc(50/var(--clamp-width)*100vw), 50px);
        --page-banner-padding-inline: clamp(10px, calc(50/var(--clamp-width)*100vw), 50px);
        --footer-padding: 10px;
        --gap: 2px;
    }

    .main-page-top-banner {
        height: 84vh;
    }

    .card-grid {
        grid-template-columns: repeat(2, minmax(0,1fr));
        gap: 2px;
    }

    .card-grid__big-banner {
        grid-area: 2 / 1 / 3 / 3;
    }

    /*Banners*/
    .cards-block {
        gap: 2px;
    }
    .card-colors__item {
        width: 6px;
        height: 6px;
    }
    .card-colors {
        gap: 4px;
    }
    /*Banners*/


    /*Footer*/
    .footer {
        padding: 35px var(--footer-padding) 100px;
    }
    .footer-main__list {
        gap: 7px;
    }
    /*Footer*/
}

/*Mobile S*/
@media (max-width: 480px) {
    :root {
        --header-paddin-inline: 10px;
    }

    /*Header*/
    .header-menu__item_user-link {
        gap: 4px;
    }
    /*Header*/

    /*Catalog toolbar*/
    .catalog-filter-wrapper {
        flex: 1;
        position: relative;
    }
    .catalog-filter-wrapper:after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -1px;
        background-color: var(--color-dark-3);
    }
    .catalog-sort-wrapper {
        flex: 1;
    }
    .catalog-filter__button {
        width: 100%;
        justify-content: space-between;
        padding-inline: 10px;
    }
    .dropdown__button_catalog-toolbar {
        width: 100%;
        justify-content: space-between;
        padding-inline: 10px;
    }
    .catalog-filter-list__item-count {
        font-size: 12px;
    }
    .catalog-filter-side-menu {
        left: -100%;
        width: 100%;
        padding: 10px 10px 58px;
    }
    .catalog-filter-side-menu .fieldset__legend {
        padding-inline-start: 24px;
    }
    .catalog-filter-list-wrapper {
        padding-inline-start: 24px;
    }
    .catalog-filter-inline-list-wrapper {
        padding-inline-start: 24px;
    }
    .catalog-filter-price {
        padding-inline-start: 24px;
    }
    .catalog-filter-button {
        position: fixed;
        bottom: 5px;
        width: calc(100% - 20px);
    }
    /*Catalog toolbar*/

    /*Cart preorder*/
    .cart-sidebar {
        right: -100%;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }
    .cart-sidebar-card_list-item .card-horizontal-start {
        width: 114px;
    }
    .cart-sidebar-card_list-item .card-horizontal {
        gap: 8px;
    }
    .cart-sidebar-suggestions {
        margin: auto -10px;
    }
    .cart-sidebar-suggestions_slider {
        padding: 0;
    }
    .cart-sidebar-suggestions {
        --swiper-navigation-sides-offset: 4px;
    }
    /*Cart preorder*/

    /*Product popup*/
    .product-popup {
        bottom: 14px;
        right: 14px;
    }
    .product-popup__button {
        height: 22px;
        width: 22px;
    }
    .product-popup__button:before {
        width: 8px;
        height: 10px;
    }
    .product-popup__box {
        width: 184px;
        margin-inline-end: 0;
        margin-block-end: 14px;
    }
    .product-popup__picture {
        width: 50px;
    }
    .product-popup__info-title {
        font-size: 12px;
    }
    .product-popup__info-price-color {
        gap: 8px;
        padding-inline-end: 26px;
    }
    .product-popup-colors-list {
        line-height: 8px;
    }
    .product-popup-colors-list_item {
        width: 8px;
        height: 8px;
    }
    .product-popup__link {
        height: 22px;
        width: 22px;
    }
    .product-popup__link:before {
        width: 8px;
        height: 10px;
    }
    /*Product popup*/

    /*Card*/
    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-descriptor {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /*Card*/

    /*Forms*/
    .checkbox__control {
        --checkbox-width: 15px;
    }
    .checkbox__big-control {
        --checkbox-big-width: 28px;
    }
    .checkbox__label {
        font-size: 12px;
    }
    .radio__control {
        --radio-width: 15px;
    }
    .radio__big-control {
        --radio-big-width: 28px;
    }
    .radio__label {
        font-size: 12px;
    }
    /*Forms*/

}